<html class="no-js" manifest="appcache.manifest">
<head>
    <%- include('./ejs/header.ejs', {title: 'pacenotes'}) %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="css/pacenotes.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <%- include('./ejs/pacenotes.ejs') %>
    <%- include('./ejs/fileSelect.ejs') %>
</div>
<script src="js/pacenotes.min.js"></script>
</body>
</html>